* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Poppins", sans-serif;
}

/* Here Header Section Styling */
/* Here Header Section Styling */
/* Here Header Section Styling */
/* Here Header Section Styling */

.navigation {
  display: flex;
  align-items: center;
  justify-content: space-between;
  flex-wrap: wrap;
  margin: 25px 80px;
}
.menuBar {
  display: none;
}
.logo img {
  width: 150px;
}
.nav-bar {
  flex-grow: 1;
}
.utility {
  display: flex;
  align-items: center;
  gap: 36px;
  list-style-type: none;
  font-family: "Poppins";
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  color: #000;
  margin-left: 40px;
}
.utility li:hover {
  text-decoration: underline;
  cursor: pointer;
  font-weight: 600;
  font-size: 18px;
}
.btn {
  color: white;
  background-color: #5955b3;
  border: none;
  font-size: 17px;
  border-radius: 5px;
  padding: 10px 15px;
  display: flex;
  text-align: center;
}
.btn:hover {
  background-color: white;
  color: black;
  border: 1px solid black;
}

/* Here Main Section or Hero Section Start */
/* Here Main Section or Hero Section Start */
/* Here Main Section or Hero Section Start */
/* Here Main Section or Hero Section Start */
.hero-section {
  display: flex;
  align-items: center;
  justify-content: space-around;
}
.hero-section-mobile {
  display: none;
}
/* Hero Left Section */
.heading {
  font-family: "Poppins";
  font-style: normal;
  font-weight: 600;
  font-size: 64px;
  line-height: 74px;
  color: #3c2f60;
}
.heading span {
  color: #5955b3;
}
.sub-heading {
  font-family: "Poppins";
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 26px;
  letter-spacing: 0.01em;
  color: #828282;
  margin-top: 28px;
  margin-bottom: 15px;
}

/* Hero Right Section */
.hero-right-section img {
  width: 653px;
}

/* Here Media Queries Section Start */
/* Here Media Queries Section Start */

/* Mobile Friendly */
/* Mobile Friendly */
/* Mobile Friendly */
/* Mobile Friendly */
/* Mobile Friendly */
@media (max-width: 1100px) {
  body {
    width: 100%;
    height: 100%;
  }
  header {
    box-shadow: 0px 0px 10px black;
    padding: 20px;
  }
  .navigation {
    padding: 35px 25px;
    margin: 0px;
    width: 100%;
    max-height: 0px;
    overflow-y: hidden;
  }
  .logo img {
    width: 100px;
  }
  .menuBar {
    display: block;
  }
  .nav-bar {
    width: 100%;
  }
  .utility {
    display: block;
    width: 100%;
    margin-left: 0px;
  }
  .utility li {
    padding: 10px;
    margin: 5px 0px;
  }
  .btn {
    font-size: 16px;
    border-radius: 5px;
    padding: 10px 30px;
    font-weight: 600;
    margin-top: 10px;
  }

  /* Here Main Section or Hero Section Start */
  /* Here Main Section or Hero Section Start */
  .hero-section {
    display: none;
  }
  .hero-section-mobile {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 50px;
    margin-top: 50px;
    padding: 25px;
    justify-content: center;
  }
  .mobile-upper-section img {
    width: 280px;
  }
  /* Hero Left Section */
  .mobile-heading {
    font-family: "Poppins";
    font-style: normal;
    font-weight: 600;
    font-size: 40px;
    line-height: 55px;
    color: #3c2f60;
  }
  .mobile-heading span {
    color: #5955b3;
  }
  .mobile-sub-heading {
    font-family: "Poppins";
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 20px;
    letter-spacing: 0.01em;
    color: #828282;
    margin-top: 20px;
    margin-bottom: 30px;
  }
}
